* {
   margin: 0;
   padding: 0;
}

@import url(//db.onlinewebfonts.com/c/544da55955a950deb15d6a7536c4da34?family=Brandon+Grotesque+Regular);

* {
   font-family: "Brandon Grotesque Regular";
   src: url("//db.onlinewebfonts.com/t/544da55955a950deb15d6a7536c4da34.eot");
   src: url("//db.onlinewebfonts.com/t/544da55955a950deb15d6a7536c4da34.eot?#iefix") format("embedded-opentype"),
      url("//db.onlinewebfonts.com/t/544da55955a950deb15d6a7536c4da34.woff2") format("woff2"),
      url("//db.onlinewebfonts.com/t/544da55955a950deb15d6a7536c4da34.woff") format("woff"),
      url("//db.onlinewebfonts.com/t/544da55955a950deb15d6a7536c4da34.ttf") format("truetype"),
      url("//db.onlinewebfonts.com/t/544da55955a950deb15d6a7536c4da34.svg#Brandon Grotesque Regular") format("svg");
}

html {
   scroll-behavior: smooth;
}

body {
   background: url(./images/bar2.jpg) no-repeat center center fixed;
   background-size: cover;
}

/* HOME */

/* HEADER GENERAL */

#header-logo {
   width: 65%;
   display: flex;
   height: 200px;
   margin: auto;
   background-color: black;
   opacity: 0.8;
}

#logo-redirect {
   display: flex;
   margin: auto;
   width: 50%;
   justify-content: center;
}

#logo {
   width: 50%;
}

.divider {
   border-left: 4px solid rgb(212, 166, 90);
   /* border-left: 4px solid rgb(143, 100, 37); */
   height: 50px;
}

/* MENU GENERAL */

#nav-menu {
   width: 65%;
   height: 50px;
   margin: auto;
   background-color: black;
}

a:link,
a:visited,
a:active {
   text-decoration: none;
   color: white;
}

.nav-menu-ul {
   display: flex;
   justify-content: center;
   justify-content: space-around;
   margin: 0;
   margin-top: 5px;
}

li {
   list-style: none;
   font-size: 30px;
}



.dropdown {
   display: none;
}

/* TABLA HORARIOS */

.table-schedule {
   font-size: 20px;
}

tr td {
   height: 21px;
}


.div1 {
   grid-area: 1 / 1 / 3 / 3;
   background-image: url(./images/burger2.jpg);
   background-size: cover;
}

.div2 {
   grid-area: 1 / 3 / 2 / 4;
   background-image: url(./images/promo1.jpg);
   background-size: cover;
}

.div3 {
   grid-area: 1 / 4 / 2 / 5;
   background-image: url(./images/promo5.jpg);
   background-size: cover;
}

.div4 {
   grid-area: 2 / 3 / 3 / 4;
   background-image: url(./images/promo3.jpg);
   background-size: cover;
}

.div5 {
   grid-area: 2 / 4 / 3 / 5;
   background-image: url(./images/promo4.jpg);
   background-size: cover;
}

.div6 {
   grid-area: 1 / 1 / 3 / 3;
   background-image: url(./images/burger6.jpg);
   background-size: cover;
}

.div7 {
   grid-area: 1 / 3 / 2 / 4;
   background-image: url(./images/promo7.jpg);
   background-size: cover;
}

.div8 {
   grid-area: 1 / 4 / 2 / 5;
   background-image: url(./images/promo8.jpg);
   background-size: cover;
}

.div9 {
   grid-area: 2 / 3 / 3 / 4;
   background-image: url(./images/promo9.jpg);
   background-size: cover;
}

.div10 {
   grid-area: 2 / 4 / 3 / 5;
   background-image: url(./images/promo10.jpg);
   background-size: cover;
}

.promo-box-low {
   --animate-repeat: 3;
}

#carrousel {
   width: 65%;
   height: 600px;
   margin: auto;
   margin-top: 5px;
   margin-bottom: 10px;
   background-image: url(./images/carru.jpg);
   background-size: cover;
   transition-property: background-image;
   transition-duration: 2s;
}

.links {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 50px;
}

/* PROMOS */

.promos {
   width: 65%;
   height: 500px;
   margin: auto;
   background-color: black;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(2, 1fr);
   grid-column-gap: 0px;
   grid-row-gap: 0px;
}

.shake1 {
   animation: shake-animation 4.72s ease infinite;
   transform-origin: 50% 50%;
}

.shake2 {
   animation: shake-animation 5s ease infinite;
   transform-origin: 50% 50%;
   margin-top: 10px;
}


@keyframes shake-animation {
   0% {
      transform: translate(0, 0)
   }

   1.78571% {
      transform: translate(20px, 0)
   }

   3.57143% {
      transform: translate(0, 0)
   }

   5.35714% {
      transform: translate(20px, 0)
   }

   7.14286% {
      transform: translate(0, 0)
   }

   8.92857% {
      transform: translate(20px, 0)
   }

   10.71429% {
      transform: translate(0, 0)
   }

   100% {
      transform: translate(0, 0)
   }
}

/* FOOTER */

footer {
   width: 65%;
   height: 275px;
   margin: auto;
   background-color: rgba(0, 0, 0, 0.8);
   color: white;
}

#mapa {
   margin-top: 15px;
}

.footer-list {
   display: flex;
   justify-content: center;
   justify-content: space-around;
}

::-webkit-scrollbar {
   display: none;
}

.contacto-footer {
   display: flex;
   width: 100%;
   flex-direction: column;
   font-size: 20px;

}

.contacto-footer p {
   text-align: left;
   margin: 0;
}

.footer-text {
   background-color: rgba(0, 0, 0);
}

/* MENU CARTA */

.Menu {
   display: flex;
   list-style: none;
   width: 58%;
   height: 50%;
   margin: auto;
   padding: 0;
   align-items: center;
   justify-content: space-around;
}

.menu_nav {
   width: 100%;
   height: 100px;
   display: flex;
   align-items: center;
   opacity: 100%;
   transition-property: opacity;
   transition-duration: 1s;
}

.limenu {
   width: 19%;
   height: 100%;
   font-size: 150%;
   background: black;
   border-radius: 10px;
   opacity: 80%;
   transition-property: font-size;
   transition-duration: 0.2s;
   text-align: center;
}

a.menu-boton:link,
a.menu-boton:visited,
a.menu-boton:active {
   text-decoration: none;
   color: white;
}

.menu-boton {
   color: white;
   text-decoration: none;
}

.menu_nav:hover {
   opacity: 100%;
}

.limenu:hover {
   opacity: 100%;
   font-size: 170%;
}

/* CARD DEL MENU */

.tarjeta {
   background-color: trasparente;
   width: 220px;
   height: 320px;
   margin: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   border: 5px dashed #000000;
   border-radius: 5px;
   box-shadow: 13px 13px 10px -1px rgba(0, 0, 0, 0.550);
   transition-property: box-shadow;
   transition: transform 1s;

}

.tarjeta:hover {
   box-shadow: 13px 13px 10px -1px rgba(0, 0, 0, 0.932);
   transform: scale(1.1);

}

.contenedor_tarjetas {
   width: 55%;
   margin: auto;
   margin-top: 10px;
   display: grid;
   grid-gap: 10px;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(10, auto);
   grid-template-areas: "tarjeta tarjeta tarjeta tarjeta"
      "tarjeta tarjeta tarjeta tarjeta"
      "tarjeta tarjeta tarjeta tarjeta"
      "tarjeta tarjeta tarjeta tarjeta"
      "tarjeta tarjeta tarjeta tarjeta"
      "tarjeta tarjeta tarjeta tarjeta"
      "tarjeta tarjeta tarjeta tarjeta"
      "tarjeta tarjeta tarjeta tarjeta"
      "tarjeta tarjeta tarjeta tarjeta"
      "tarjeta tarjeta tarjeta tarjeta";

}

.imagen {
   width: 95%;
   height: 50%;
   margin-top: 5px;
}



p {
   color: #fff;
   text-align: center;
}

/* SOCIAL MEDIA*/
.social {
   margin: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.social p {
   text-align: center;
   font-size: 30px;
   color: #fff;
}

.links a {
   color: #ffF;
}

.links a i {
   font-size: 3rem;
   margin-right: 60px;

}

/* NOSOTROS */

#about-us {
   width: 65%;
   height: 600px;
   margin: auto;
   margin-top: 5px;
   margin-bottom: 10px;
   background-color: black;
   opacity: 0.8;
   letter-spacing: 4px;

}

#aboutUs-story {
   margin: auto;
   width: 95%;
   font-size: 20px;
   line-height: 1.8;
   text-align: justify;
}

.titles-aboutUs {
   color: white;
   text-align: center;
   font-size: 50px;
   margin: auto;
}

.contact {
   font-size: 30px;
}

/* LOCALES */

#stores {
   width: 50%;
   height: 600px;
   margin: auto;
   display: flex;
   justify-content: center;
   margin-top: 5px;
   margin-bottom: 10px;
   background-color: rgba(0, 0, 0, 0.8);
}

#ul-stores {
   margin: auto;
   padding: 0;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   justify-content: space-between;

}

.li-stores {
   background-color: black;
   margin: 10px;
   width: 100%;
   height: 60px;
   border-radius: 2px;

}

.p-stores {
   margin: 0;
   padding: 10px;
   font-size: 25px;
}

/* FORMULARIO RESERVAS */

.formulario {
   width: 50%;
   height: 600px;
   display: flex;
   margin: auto;
   margin-top: 5px;
   margin-bottom: 10px;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   background-color: rgba(0, 0, 0, 0.8);
   font-size: 20px;
}

.formu_inputs {
   height: 20px;
   width: 50%;
   padding: 10px;
   background-color: black;
   border: none;
   color: white;
   font-size: medium;
}

#formu_boton {
   background-color: black;
   margin-top: 10px;
   height: 50px;
   width: 30%;
   border: none;
   color: white;
   font-size: 30px;
}

#formu_boton:hover {
   background-color: rgb(195, 178, 157);
   color: black;
}

.formulario-label {
   color: white;
}

.titulo {
   font-size: 40px;
}

/* Laptop */

@media screen and (max-width: 1440px) {
   footer .table-schedule {
      font-size: 50%;
   }

   #about-us #aboutUs-story {
      font-size: 110%;
   }

   .contenedor_tarjetas {
      width: 65%;
      margin: auto;
      margin-top: 10px;
      margin-bottom: 10px;
   }

   .tarjeta {
      width: 80%;
   }

}

/* Tablet */

@media screen and (max-width: 768px) {
   #nav-menu a {
      font-size: 60%;
   }

   footer li {
      font-size: 100%;
   }

   footer .table-schedule {
      font-size: 80%;
      width: 100%;
   }

   #mapa {
      width: 100px;
      height: 80px;
   }

   .footer-list {
      width: 100%;
      margin: auto;

   }

   .contacto-footer p {
      margin-top: 10px;
      font-size: 80%;
      text-align: left;
   }

   .links i {
      width: 10px;
   }

   #logo {
      width: 80%;
   }

   #carrousel {
      height: 400px;
   }

   .promos {
      height: 300px;
   }

   .promos>div {
      width: 100%;
   }

   #about-us #aboutUs-story {
      font-size: 90%;
   }

   #about-us {
      height: 700px;
   }

   #stores {
      width: 65%;
   }

   #stores p {
      font-size: 59%;
   }

   #ul-stores {
      width: 90%;
      align-items: center;
   }

   .formulario {
      width: 65%;
   }

   #formu_boton {
      font-size: 110%;
   }

   .contenedor_tarjetas {
      width: 90%;
   }

   .tarjeta {
      width: 90%;
      height: 250px;
   }

   .menu_nav a {
      font-size: 65%;
   }

   .limenu {
      margin: 5px 5px;
      width: 120%;
   }

   .Menu {
      width: 70%;
   }
}

/* Smartphone */

@media screen and (max-width: 360px) {
   #nav-menu a {
      font-size: 60%;
   }

   #nav-menu {
      display: none;
   }

   .dropdown {
      display: flex;
      justify-content: center;

   }

   .dropdown .btn {
      background-color: black;
      width: 100%;
   }

   .dropdown .show .btn {
      background-color: black;
      width: 100%;
   }

   .dropdown-menu {
      width: 100%;
      text-align: center;
      background-color: #000000;
   }

   .dropdown-toggle {
      width: 40%;
      background-color: black;
   }

   .dropdown-item {
      color: white;
   }

   .divider {
      height: 2px;
      width: 100%;
      background-color: rgb(212, 166, 90, 0.2);
      border-left: 0;
   }

   .nav-menu-ul {
      width: 100%;
      height: 100%;
      margin-top: 0;
      flex-direction: column;
      text-align: center;
      background-color: #000000;
   }

   footer li {
      font-size: 150%;
   }

   footer .table-schedule {
      font-size: 80%;
      width: 100%;
   }

   #mapa {
      width: 100px;
      height: 80px;
   }

   footer {
      width: 100%;
      height: 800px;
   }

   .footer-list {
      width: 100%;
      margin: auto;
      flex-direction: column;
      align-items: center;
      text-align: center;
      align-items: space-between;

   }

   .footer-list li {
      margin-bottom: 30px;
   }

   .contacto-footer p {
      margin-top: 10px;
      font-size: 80%;
      text-align: center;
   }

   .links {
      flex-direction: row;
      justify-content: center;
   }

   .links i {
      width: 10px;
   }

   #logo {
      width: 100%;
   }

   #header-logo {
      width: 100%;
   }

   #carrousel {
      width: 100%;
      height: 400px;
   }

   .promos {
      width: 100%;
      height: 300px;
   }

   .promos>div {
      width: 100%;
   }

   #about-us #aboutUs-story {
      font-size: 90%;
   }

   #about-us {
      width: 100%;
      height: 1100px;

   }

   #stores {
      width: 100%;
   }

   #stores p {
      font-size: 47%;
   }

   #ul-stores {
      width: 90%;
      align-items: center;
   }

   .formulario {
      width: 100%;
   }

   #formu_boton {
      font-size: 85%;
   }

   .contenedor_tarjetas {
      width: 100%;
      margin: auto;
      margin-top: 10px;
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(10, auto);
      grid-template-areas: "tarjeta tarjeta "
   }

   .tarjeta {
      width: 80%;
      height: 200px;
   }

   .tarjeta p {
      font-size: 80%;
   }

   .menu_nav a {
      font-size: 60%;
   }

   .limenu {
      margin: 5px 5px;
      width: 120%;
   }

   .Menu {
      width: 70%;
   }

   .promos {
      display: flex;
      height: 1000px;
      flex-direction: column;
   }

   .promos div {
      width: 100%;
      height: 250px;
   }
}